{% extends "test_site.html" %}
{% block output %}
Trip from {{ start_address }} to {{ end_address }} at {{ text_time }} on {{ day_name }}
<br><br>

Trip times: <br>
10th percentile: {{ pct10 }} minutes<br>
25th percentile: {{ pct25 }} minutes<br>
50th percentile: {{ pct50 }} minutes<br>
75th percentile: {{ pct75 }} minutes<br>
90th percentile: {{ pct90 }} minutes<br><br>

Based on {{ samples }} trips.
<img src={{ url_for('make_boxplot', data=concat) }} alt="Image Placeholder"><br>
<img src="{{ img_prefix }}&{{ window }}&{{ marker_start }}&{{ marker_end }}&{{ style }}">

{% endblock %}